body
  background-color: #666
  background: url("../images/brain.jpeg") no-repeat center/80%
  background-position: top

.board
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-content: space-around
  align-items: flex-start
  background-color: pink
  padding: 10px

.card
  background-color: darkslategrey
  width: 21%
  height: 12em
  color: white
  text-align: center
  box-sizing: border-box
  margin: auto
  padding: 5px
